/FlatOut2DBExtractor/cmake-build-debug/
/FlatOut2DBExtractor/cmake-build-release/
/FlatOut2DBExtractor/.idea/
/FlatOut2DBMaker/cmake-build-debug/
/FlatOut2DBMaker/cmake-build-release/
/FlatOut2DBMaker/.idea/